.toggle {
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-0));

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }
}

.icon {
  width: 20px;
  height: 20px;
  transition: transform 150ms ease, opacity 150ms ease;
}

.light {
  @media (prefers-color-scheme: dark) {
    display: none;
  }

  [data-mantine-color-scheme="dark"] & {
    display: none;
  }
}

.dark {
  display: none;

  @media (prefers-color-scheme: dark) {
    display: block;
  }

  [data-mantine-color-scheme="dark"] & {
    display: block;
  }
}
